* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #047857;
}

.container {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.logo {
    margin: 24px;
    font-size: 1.3rem;
}

.menu {
    padding-top: 24px;
    grid-area: 1 / 1 / 9 / 2;
    background-color: #BEF264;
    justify-items: center;
    color: white;
}

.menu ul, .menu li {
    list-style: none;
    margin: 24px;
    font-size: 1.2rem;
}

.container-main {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 89vh;
    padding-right: 24px;
}

.container-main p {
    color: #047857;
}

.container-search h4 {
    align-self: center;
}

.container-search {
    padding-top: 16px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 38px 1fr;
    height: auto;
    background-color: ;
}

#icon-search{
    justify-self: end;
    align-self: center;
    padding: 4px;
}

#icon-notification {
    padding: 0 14px;
    justify-self: end;
    align-self: center;
}

.container-search input {
    background-color: #e2e8f0;
    border-radius: 2rem;
    height: 24px;
}

.container-greet {
    padding: 8px 14px;
    display: flex;
    align-items: center;
}   

.container-greet img {
    border-radius: 50%;
}

.container-search h4, .container-greet h4 {
    font-size: 1.3rem;
}

.container-greet button {
    background-color: #BEF264;
    border: none;
    height: 32px;
    width: 80px;
    border-radius: 14px;
    margin: 8px;
}

#new-button {
    margin-left: 400px;
}
/* Projects */

.container-projects {
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 24px;
    gap: 14px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .05fr 1fr 1fr 1fr;
    grid-area: 1 / 1 / 3 / 2;
    overflow-y: auto;
    min-width: 592.15px;

}

.container-projects div {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border-top-left-radius: 4px;
    background-color: white;
    border-left: 12px solid #BEF264;
}

.container-projects h2 {
    grid-area: 1 / 1 / 2 / 3;
    padding-top: 14px;
}

.container-projects h3 {
    padding: 8px 8px;
}

.container-projects p {
    padding: 8px 8px;
}

/* Announcements */

.container-announcements {
    padding-top: 24px;
    height: 300px;
    min-width: 195.23px;
    width: 90%;
}

.announcements {
    border-radius: 18px;
    width: 100%;
}

.container-announcements h2 {
    padding-bottom: 14px;
}
.container-announcements div {
    background-color: white;
    position: relative;
    padding: 16px;
}

.container-announcements div::after {
    content: "";
    height: 2px;
    width: 85%;
    background: #BEF264;
    left: 10%;
    bottom: 0;
    position: absolute;
}
.container-announcements div:last-child:after {
    background: white;
}

.container-announcements p {
    font-size: .9rem;
}

/* Trending  */

.container-trending {
    grid-area: 2 / 2 / 3 / 3;
    width: 90%;
    align-self: flex-end;
    margin-bottom: 14px;
}

.container-trending h2 {
    height: 30.35px;
    padding-bottom: 14px;
}
.trending {
    background: white;
    border-radius: 18px;
    padding-left: 28px;
    min-width: 195.23px;
    width: 100%;
}

.titles {
    font-size: 1.5rem;
}