* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.logo {
    margin: 24px;
}

.menu {
    padding-top: 24px;
    grid-area: 1 / 1 / 9 / 2;
    background-color: #a1c7db;
    justify-items: center;
    color: white;
}

.menu ul, .menu li {
    list-style: none;
    margin: 24px;
}

.container-main {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 89vh;
    padding-right: 24px;
}

.container-main p {
    color: #646464;
}

.container-search {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    height: auto;
}

.container-search input {
    background-color: #e2e8f0;
    border-radius: 2rem;
}

.container-greet {
    display: flex;
    align-items: center;
    height: 40px;
}   

.container-greet img {
    border-radius: 50%;
}

/* Projects */

.container-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .05fr 1fr 1fr 1fr;
    grid-area: 1 / 1 / 3 / 2;
    overflow-y: auto;
    gap: 14px;
    min-width: 592.15px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 14px;
    margin-top: 24px;

}

.container-projects div {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    background-color: white;
}

.container-projects h2 {
    grid-area: 1 / 1 / 2 / 3;
}

.container-projects h3 {
    padding: 8px 8px;
}

.container-projects p {
    padding: 8px 8px;
}

/* Announcements */

.container-announcements {
    display: grid;
    height: 300px;
    min-width: 195.23px;
    width: 90%;
}

.announcements {
    border-radius: 18px;
    width: 100%;
}

.container-announcements h2 {
    height: 30.35px;
    margin-top: 24px;
}
.container-announcements div {
    background-color: white;
    padding: 16px;
    position: relative;
}

.container-announcements div::after {
    content: "";
    height: 2px;
    width: 80%;
    background: grey;
    left: 10%;
    bottom: 0;
    position: absolute;
}
.container-announcements div:last-child:after {
    background: white;
}

.container-announcements p {
    font-size: .9rem;
}

/* Trending  */

.container-trending {
    grid-area: 2 / 2 / 3 / 3;
    width: 90%;
}

.trending {
    background: white;
    border-radius: 18px;
    padding-left: 28px;
    height: 200px;
    min-width: 195.23px;
    width: 100%;
}

.titles {
    font-size: 1.5rem;
}